//* DEFINE MIXINS: *
@mixin grid($class-name) {
  @if $class-name == $class-row {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    width: 100%;
  }

  @if $class-name == $class-container {
    position: relative;
    box-sizing: border-box;
    max-width: $max-width;
    margin: 0 auto;
  }

  @if $class-name == $class-column {
    position: relative;
    box-sizing: border-box;
  }

  @if $class-name == $class-overflow {
    overflow: hidden;
  }
}

//* CLASS HELPERS *
@mixin generate-universal-helper-classes() {
  .#{$class-row} {
    @include grid($class-row);
  }

  .#{$class-container} {
    @include grid($class-container);
  }

  .#{$class-column} {
    @include grid($class-column);
  }

  .#{$class-overflow} {
    @include grid($class-overflow);
  }
}
